<div class="d-flex justify-content-between">
  <h2><%= @task.title %></h2>
  <button type="button" class="btn btn-outline-secondary">
    <%= link_to edit_task_path(@task), class: "deco-none" do%>
      <i class="fas fa-pen"></i> Edit this task
    <% end %>
  </button>
</div>

<div class="details">
  <p><%= @task.details %></p>
</div>

<% if @task.completed %>
  <p><i class="far fa-check-circle"></i> This task is completed</p>
<% else %>
  <p><i class="far fa-circle"></i> This task is not completed yet</p>
<% end %>

<hr>

<%= link_to tasks_path do%>
  <i class="fas fa-undo"></i> Back to list
<% end %>
